{#
	Usage:
		{{ component('gs_watch', {
			intervalMs:				1000,
		}) }}
#}

<div
	{{ stimulus_controller('gs-watch', {
		intervalMs
	}) }}
	class="d-block"
>
	{{ include('@GSGenericParts/templates/_placeholder.html.twig') }}
</div>