{#
	Usage:
		{{ component('gs_watch', {
			intervalMs:				1000,
			
			attr:					{
				class:		'',
				style:		'',
			},
		}) }}
#}

<div
	{{ stimulus_controller('gs-watch', {
		intervalMs,
		attrString:		attr|gs_array_to_attribute,
	}) }}
	class="d-block"
>
	{{ include('@GSGenericParts/templates/_placeholder.html.twig') }}
</div>